{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
    <h1>Card</h1>
    <div class="flex-two-cols">
        <div class="left-col-row">
            {{ include("/card/prettyprintcards/red_or_black_cards.html.twig")}}
        </div>
        <div class="right-col">
        <a href="{{ path('card_deck') }}">Deck</a>
        <a href="{{ path('deck_shuffle') }}">Shuffle</a>
        <a href="{{ path('card_draw') }}">Draw</a>
        </div>
    </div>
{% endblock %}