{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Card</h1>
    <div class="flex-two-cols">
        <div class="left-col">
            <i class="fa-brands fa-symfony fa-2xl"></i><br>
            {% for card in cards %}
                <span class="die">{{ card }}</span>
            {% endfor %}

        </div>
        <div class="right-col">
        <a href="{{ path('card_deck') }}">Deck</a>
        <a href="{{ path('deck_shuffle') }}">Shuffle</a>
        <a href="{{ path('card_draw') }}">Draw</a>
        </div>
    </div>
{% endblock %}