{% extends "base.html.twig" %}

{% block title %}JSON home{% endblock %}

{% block body %}
    <h1>Json Home</h1>
        <div class="flex-two-cols">
        <div class="left-col">
            <i class="fa-brands fa-symfony fa-2xl"></i><br>


        </div>
        <div class="right-col">
        <a href="{{ path('quote') }}">Quote</a>
        <a href="{{ path('api_deck') }}">Api deck</a>
        <a href="{{ path('api_deck_draw') }}">Api Draw</a>
        </div>
    </div>
{% endblock %}