{% extends "base.html.twig" %}

{% block title %}JSON home{% endblock %}

{% block body %}
    <h2>Json</h2>
        <div class="flex-two-cols">
        <div class="left-col">
            <i class="fa-brands fa-symfony fa-2xl"></i><br>


        </div>
        <div class="right-col">
            {{ include("/card/nav/deck_api_nav.html.twig")}}
        </div>
    </div>
{% endblock %}