{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h2>Shuffle</h2>
    <div class="flex-two-cols">
        <div class="left-col-row">
            {{ include("/card/prettyprintcards/red_or_black_cards.html.twig")}}
        </div>
        <div class="right-col">
        {{ include("/card/nav/deck_nav.html.twig")}}

        </div>
    </div>
{% endblock %}