{% extends "base.html.twig" %}

{% block title %}21 Play{% endblock %}

{% block body %}
    <h2>Gameplay</h2>
    <div class="flex-two-cols">
        <div class="left-col">
        </div>
        <div class="right-col">
{{ include("/game/nav/play_nav.html.twig")}}

        </div>
    </div>
{% endblock %}