#game_window {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 30rem;
}

.gameplan_rows {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.start_menu {
    background: linear-gradient(0.25turn, #111, #666);
}

.player_ui {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.start_room {
    background-image: url('../images/startcave.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.second_cave {
    background-image: url('../images/second_cave.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.third_cave {
    background-image: url('../images/third_cave.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.attack {
    margin-top: 2rem;
    padding: 2rem;
    width: 5rem;
    height: 6rem;
    background-image: url('../images/enemy.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.outside_cave {
    background-image: url('../images/testroom.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hide {
    display: none;
}

.room_ {
    display: flex;
    justify-content: center;
    width: 100%;
}

.transparent_door {
    width: 10rem;
    height: 8rem;
    background-color: transparent;
}

.sword {
    display: flex;
    background-color: transparent;
    position: relative;
    width: 6rem;
    height: 6rem;
    background-image: url('../images/sword.png') !important;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big_white_text_button {
    text-decoration: none;
    color: azure;
    font-family: l;
    font-size: 4rem;
    font-family: "Papyrus", 'Fantasy', serif;
}

.bread_text {
    text-decoration: none;
    width: 70rem;
    color: rgb(38, 0, 0);
    font-family: l;
    font-size: 2.5rem;
    font-family: "Papyrus", 'Fantasy', serif;
    line-height: 3rem;
    padding: 2.5rem;
    background-color: rgb(159, 150, 150);
}


.center_of_grid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}