.card {
    display: flex;
    font-size: 3rem;
    height: 7rem;
    width: 6rem;
    border: 1px solid #000;
    border-radius: 0.4rem;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.red {
    color: rgb(217, 18, 18);
    transform: rotate(4deg) !important;
}

.drawn {
    margin-right: -1.5rem;
    transform: rotate(-2deg);
}

.drawn:nth-child(3n) {
    margin-right: -1.5rem;
    margin-bottom: 1rem;
    transform: rotate(1deg) !important;
}