
.uml {
    opacity: 0.8;
    border: solid #0a6aaa 2px;
    padding: 0.2rem;
    border-radius: 1rem;
}

.flowchart {
    max-width: 100%;
    border-radius: 0.6rem;

}

.me-pic {
    width: 25rem;
}

.rooms-pic {
    margin-left: 5rem;
    width: 35rem;
}
