body {
    /* background-color: #afb9d0; */
    background-color: #FAFAFA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.container {
    display: flex;
    position: relative;
    padding: 2rem ;
    max-width: 100%;
    justify-content: center;
}