


        <a class="a_link" href="{{ path('card_deck') }}">Deck (sorted)</a>
        <a class="a_link" href="{{ path('deck_shuffle') }}">Shuffle</a>
        <a class="a_link" href="{{ path('card_draw') }}">Draw 1 </a>
        <form class="draw-form" method="GET">
        <input class="draw-form-button" type="submit" value="Draw"
        onClick="this.form.action='{{ path('card_draw') }}';this.form.method='get';">
        <input type="number" name="cardsToDraw" min=2 value=2>
        </form>