{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <div class="flex-two-cols">
        <div class="left-col">
        <h2>MVC</h2>
    <p>I kursen MVC jobbar vi med objektorienterade webbteknologier i PHP-Symfony. Vi jobbar efter Modell View Controller-mönstret.</p>
        <i class="fa-brands fa-symfony fa-2xl"></i><br>
        
        </div>
        <div class="right-col">
            <a href="https://github.com/emklemkl/mvcreport">
            <i class="fa-brands fa-github fa-2xl"></i> emklemkl</a>
            <a href="https://github.com/dbwebb-se/mvc">
            <i class="fa-brands fa-github fa-2xl"></i> Kursen</a>
    </div>
    </div>
{% endblock %}