{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    
    <h1>Me</h1>
    <div class="flex-two-cols">
    <div class="left-col">
    <p>Mitt namn är Emil Karlsson, jag gillar att koda, lyssna på hårdrock och att röka cigarr (dock inte samtidigt ;D ).
    Jag har tidigare arbeta som lastbilschaufför i fem år men slutade med det och bestämde mig för att göra något roligt istället!</p>
    </div>
    <div class="right-col">
    <img src="{{ asset('img/mepic.jpg') }}" alt="Pic of Emil ">
    </div>
    </div>
{% endblock %}