{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <h1>Metrics</h1>

    <h2>Introduktion</h2>

    <h2>Phpmetrics</h2>

    <h2>Scrutinizer</h2>
    [![Scrutinizer Code Quality](https://scrutinizer-ci.com/g/emklemkl/mvcreport/badges/quality-score.png?b=main)](https://scrutinizer-ci.com/g/emklemkl/mvcreport/?branch=main)
[![Code Coverage](https://scrutinizer-ci.com/g/emklemkl/mvcreport/badges/coverage.png?b=main)](https://scrutinizer-ci.com/g/emklemkl/mvcreport/?branch=main)
[![Build Status](https://scrutinizer-ci.com/g/emklemkl/mvcreport/badges/build.png?b=main)](https://scrutinizer-ci.com/g/emklemkl/mvcreport/build-status/main)
[![Code Intelligence Status](https://scrutinizer-ci.com/g/emklemkl/mvcreport/badges/code-intelligence.svg?b=main)](https://scrutinizer-ci.com/code-intelligence)
    <h2>Förbättringar</h2>
    <h2>Diskussion</h2>
{% endblock %}