{% for key, card in player %}
    {% if key|first =="h" or key|first =="d" %}
        <span class="card red drawn">{{ card }}</span>
    {% else %}
        <span class="card drawn">{{ card }}</span>
    {% endif %}
{% endfor %}
