{% for key, card in deck %}
    {% if key|first =="h" or key|first =="d" %}
        <span class="card red">{{ card }}</span>
    {% else %}
        <span class="card">{{ card }}</span>
    {% endif %}
{% endfor %}